@use 'variables';
@use 'mixins';

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-y: scroll;
}

.container {
  max-width: variables.$container-width;
  margin: 0 auto;
}

.input {
  padding: 17px 20px;
  background: #FFFFFF;
  border: 2px solid #709FDC;
  border-radius: 3px;
  width: 422px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: variables.$base-text-color;
  margin-bottom: 5px;
  box-sizing: border-box;

  &::placeholder {
    color: #A8ABA7;
    font-size: 14px;
  }
}

.button {
  text-align: center;
  background: variables.$second-text-color;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;

  &:hover {
    background: #5e91cf;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    background: #cccccc;

    &:hover {
      background: #cccccc;
    }
  }
}

.button-more_details {
  padding: 15px 33px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.mat-menu-item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: variables.$base-text-color;

  a {
    text-decoration: none;
  }
}


//Всплывающее окно
.modal:not([open]) {
  display: none;
}

.modal {
  border: none;
  border-radius: 10px;
  padding: 0;
  overflow: visible;
  width: 727px;
  height: 489px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-out forwards;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;

  h1 {
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 130%;
    color: variables.$second-text-color;
    margin-bottom: 20px;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #1E1A2B;
    margin-bottom: 40px;
  }

  .auth-inputs {
    .input-service {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: variables.$second-text-color;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  .request-button {
    width: 422px;
    padding: 15px 0;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 15px;
  }
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  animation: backdropFadeIn 0.3s ease-out forwards;
}

.close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 50;
}

.close-btn:hover {
  transform: scale(1.1);
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.modal-content {
  text-align: center;
  padding: 85px 140px;


  .success-button {
    padding: 10px 20px;
    margin-top: 40px;
  }
}


.mat-snack-bar-container {
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
}


.mat-menu-panel {
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
}


